.card{
    /* border: 1px solid grey; */
    /* padding: 3rem; */
    /* font-size: 2rem; */
    
    position: relative;
    /* height: 10rem; */
    border-radius: 0.5rem;
    /* background-color: rgb(227, 186, 99); */
    margin-top: 2rem;
}
.card.dark{
  color: white;

}
.card.light{
    color:#333;
}
